file_max_age_seconds: 200
check_interval_seconds: 5
correction_scale_factor: 1.0
timeout_seconds: 600

settle_time:
  min: 10
  max: 140

correction_thresholds:
  min_arcsec: 1.0     # dont correct below this
  small_offset: 1.0   # use scale factor 0
  large_offset: 5.0   # use scale factor 0.5


spectro_thresholds:
  min_arcsec: 0.5
  small_offset: 0.5
  large_offset: 3.0

acquisition:
  enabled: true
  exposure_time: 3.0              # exposure time during acquisition phase
  correction_interval: 3          # checks for correction required between N frames during acquisition
  max_total_offset_arcsec: 3.0    # once total offset >= this number, switch to science frames/folder
  max_attempts: 3 #20                # dont acquire forever and ever and ever and ever and ever
  folder_suffix: "_acq"           

spectro_acquisition:
  enabled: true
  exposure_time: 3.0
  correction_interval: 1
  max_total_offset_arcsec: 1.0
  max_attempts: 20
  folder_suffix: "_spectro_acq"